<div class="container my-5 ">
<div style="font-family: Roboto !important;">
<div class="row">
    <div class="col-md-8">
        <div class="container p-5 my-2 bg-dark text-white">
            <div class="card" style="background-color: rgb(196, 196, 196);">
                <img class="card-fluid" src="./assets/img/produtos/produto1.jpg" alt="Produto 1">
                <div class="card-body">
                   
                    <h5 class="card-title">Familia Foca</h5>
                    <p class="card-text">Conjunto com dois bonecos de focas adultas, 2 bonecos de focas crianças e 2 acessorios</p>
                    <p class="fw-bold">Preço: R$199,90</p>
                    <button class="btn btn-sucess" style="background-color: rgb(248, 248, 248);">Adicionar à Cesta</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container p-5 my-2 bg-dark text-white">
            <div class="card" style="background-color: rgb(196, 196, 196);">
                <img class="card-fluid" src="./assets/img/produtos/produto1.jpg" alt="Produto 1">
                <div class="card-body">
                   
                    <h5 class="card-title">Familia Foca</h5>
                    <p class="card-text">Conjunto com um boneco de foca adulta</p>
                    <p class="fw-bold">Preço: R$49,90</p>
                    <button class="btn btn-sucess" style="background-color: rgb(255, 255, 255);">Adicionar à Cesta</button>
                </div>
            </div>
            <nav class="position-relative">
                <a href="./cestadecompras" class="position-absolute w-100 h-100" style="top: 0; left: 0; background: transparent;"></a>
                <button class="btn-sucess mt-3 position-relative" style="pointer-events: none;">Ver Cesta de compra</button>
              </nav>              
        </div>
    </div>
</div>
</div>
</div>
