<div class="container my-5 ">
    <div style="font-family: Roboto !important;">
    <div class="row">
        <div class="col-md-12">
            <div class="container p-5 my-2 bg-dark text-white">
                <div class="card">
                    <div class="card-header bg-primary text-white"> Cesta de Compras</div>
                    <div class="card-body">
                        <ul class="list-group ms-5">
                            <li>
                                <div class="card border-2 m-4 p-2">
                                <div class="card-body">
                                    <h5 class="card-title">Familia Foca</h5>
                                    <p class="card-text">Conjunto com dois bonecos de focas adultas, 2 bonecos de focas crianças e 2 acessorios</p>
                                    <p class="fw-bold">Preço: R$199,90</p>
                                    <button class="btn-danger brn-sm">Remover item</button>
                                </div>
                            </div>
                            </li>

                            <li>
                                <div class="card border-2 m-4 p-2">
                                <div class="card-body">
                                    <h5 class="card-title">Familia 2</h5>
                                    <p class="card-text">Conjunto com um bonecos de foca adulta</p>
                                    <p class="fw-bold">Preço: R$49,90</p>
                                    <button class="btn-danger brn-sm">Remover item</button>
                                </div>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                    <div class="col-4 ms-4 my-3">
                        <nav class="position-relative">
                            <a href="./gravarpedido" class="position-absolute w-100 h-100" style="top: 0; left: 0; background: transparent;"></a>
                            <button class="btn btn-primary position-relative" style="pointer-events: none;">Finalizar Compra</button>
                          </nav>
                          
                          
                          
                    </div>
                </div>
                </div>
            </div>
        </div>
        
        
    </div>
    </div>
    </div>
    